<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Edit Artist</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&display=swap">
</head>
<body>
  <h1>Edit Artist</h1>
  <form action="/update/artista/<%= artista.id_artista %>" method="post">
    <label for="nome_artista">Name:</label>
    <input type="text" id="nome_artista" name="nome_artista" value="<%= artista.nome_artista %>">
    <button type="submit">Save</button>
  </form>
</body>
</html>
