<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ayesha</title>
</head>
<body>
    <h1 class="ayesha">hi im ayesha im 13yo!</h1>

    <a href="/nicole"> Nicole's page</a><br>
    <a href="/jecka"> Jecka's page</a><br>
    <a href="/ayesha"> Ayesha's Page</a><br>
</body>
</html>